:root {
    --violet-1: #050409;
    --violet-2: #0d0a17;
    --violet-3: #9482cb;
    --violet-4: #ac9dd7;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body{
    background-color: var(--violet-1);
    color: var(--white);    
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container {
    width: 70%;
    height: 100vh;
    background-color: var(--violet-2);
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.container .wrap-img-text {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
}

.container .wrap-img-text p{
    width: 50%;
    font-size: 24px;
    max-height: 600px; 
}

.container .wrap-img-text img {
    padding: 10px;
    background-color: var(--violet-1);
    display: block;
    width: 400px;
    height: 400px;   
}

.container .btn {
    background-color: var(--violet-4);
    
    border: none;
    padding: 5px 15px;
    border-radius: 3px;

    color: white;
    font-size: 16px;
    transition: all .3s ease;
}
.container .btn:hover{
    cursor: pointer;
    background-color: var(--violet-3);
}


