:root {
    --violet-1: #050409;
    --violet-2: #0d0a17;
    --violet-3: #9482cb;
    --violet-4: #ac9dd7;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body{
    background-color: var(--violet-1);
    color: var(--white);    
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container {
    width: 100%;
    height: 100vh;
    background-color: var(--violet-2);
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container .wrap-img-text {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container .wrap-img-text p{
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #9482cb;
    text-align: center;
}

.container .wrap-img-text .wrap-img {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: var(--violet-1);
} 
.container .wrap-img-text .wrap-img img {
    width: 100%;
    height: 100%;   
}

.container .btn {
    background-color: var(--violet-4);
    
    border: none;
    padding: 5px 15px;
    border-radius: 3px;

    color: white;
    font-size: 16px;
    transition: all .3s ease;
    margin-left: auto;
    margin-right: auto;
}
.container .btn:hover{
    cursor: pointer;
    background-color: var(--violet-3);
}


@media (min-width: 768px) {
    .container .wrap-img-text {
        width: 80%;
    }     
}

@media (min-width: 1024px) {
    .container .wrap-img-text {
        width: 70%;
    }
    .container .wrap-img-text .wrap-img {
        width: 500px;
        height: 500px;
    } 
}

@media (min-width: 1440px) {
    .container .wrap-img-text {
        width: 30%;
    }
}

